[submodule "programmers/tl866/minipro"]
	path = programmers/tl866/minipro
	url = https://github.com/vdudouyt/minipro
[submodule "programmers/tl866/qtl866"]
	path = programmers/tl866/qtl866
	url = https://github.com/wd5gnr/qtl866
[submodule "programmers/tl866/TL866"]
	path = programmers/tl866/TL866
	url = https://github.com/radiomanV/TL866
[submodule "interfaces/serial/Baudrate.py"]
	path = interfaces/serial/Baudrate.py
	url = https://github.com/719Ben/Baudrate.py
[submodule "interfaces/serial/jpnevulator.py"]
	path = interfaces/serial/jpnevulator.py
	url = https://github.com/pklaus/jpnevulator.py
[submodule "interfaces/usb/goodfet"]
	path = interfaces/usb/goodfet
	url = git://github.com/travisgoodspeed/goodfet.git
[submodule "interfaces/usb/umap2"]
	path = interfaces/usb/umap2
	url = git://github.com/nccgroup/umap2.git
[submodule "interfaces/usb/umap"]
	path = interfaces/usb/umap
	url = git://github.com/nccgroup/umap.git
[submodule "interfaces/usb/Facedancer"]
	path = interfaces/usb/Facedancer
	url = git://github.com/ktemkin/Facedancer.git
